<div class="header-container">
  <header class="header">
    <div class="logo-container">
      <img src="../../../../assets/images/Itau-logo.png" alt="Logo" />
      <p class="complete-logo">BBA</p>
    </div>
    <div class="user-info">
      <span class="language">PT</span>
      <div class="profile">
        <img
          src="../../../../assets/images/photo-user.jpg"
          alt="User Profile"
        />
        <div>
          <span class="name">Maiki Rodrigues</span><br />
          <span class="position">Software Engineer - Itaú BBA</span>
        </div>
        <span class="arrow">></span>
      </div>
    </div>
  </header>
</div>
