table {
  width: 100%;
}
.red-dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
}
.red-green {
  display: block;
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
}
.content {
  display: flex;
  justify-content: space-between;
}
mat-form-field {
  width: 380px;
}