<div class="content">
  <div>
    <h2>Polo {{ dataCompany?.name }}</h2>
    <h4>
      exibindo detalhes do polo {{ dataCompany?.name }} # {{ dataCompany?.id }}
    </h4>
  </div>

  <p>Detalhes do Endereço</p>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form address-detail">
      <mat-form-field appearance="outline" style="display: none">
        <mat-label>CEP</mat-label>
        <input
          matInput
          placeholder="Ex. 00000-000"
          formControlName="cep"
        />
      </mat-form-field>

      <it-cep
        #cepComponent
        [cep]="formGroup.get('cep')?.value"
        (cepChanged)="onCepChange($event)"
      ></it-cep>

      <mat-form-field appearance="outline">
        <mat-label>Rua</mat-label>
        <input
          matInput
          placeholder="Ex. Rua Conceição"
          formControlName="street"
        />
        <mat-error *ngIf="formGroup.get('street')?.hasError('required')">
          Rua é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input
          matInput
          placeholder="Ex. Jabaquara"
          formControlName="neighborhood"
        />
        <mat-error *ngIf="formGroup.get('neighborhood')?.hasError('required')">
          Bairro é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Ex. São Paulo" formControlName="state" />
        <mat-error *ngIf="formGroup.get('state')?.hasError('required')">
          Estado é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. SP" formControlName="city" />
        <mat-error *ngIf="formGroup.get('city')?.hasError('required')">
          Cidade é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form company-detail">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. Itaú BBA" formControlName="name" />
        <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Empresa</mat-label>
        <input matInput placeholder="Ex. Itaú CTO" formControlName="business" />
        <mat-error *ngIf="formGroup.get('business')?.hasError('required')">
          Empresa é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input
          matInput
          placeholder="Ex. R$ 900.000,00"
          formControlName="valuation"
          type="text"
          mask="separator.0"
          thousandSeparator=","
          prefix="R$ "
        />
        <mat-error *ngIf="formGroup.get('valuation')?.hasError('required')">
          Valor/ Valuation é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input
          matInput
          placeholder="Ex. 00.000.000/0001-00"
          formControlName="cnpj"
          mask="CPF_CNPJ"
        />

        <mat-error *ngIf="formGroup.get('cnpj')?.hasError('required')">
          CNPJ é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ativo</mat-label>
        <mat-select
          disableRipple
          [(ngModel)]="dataCompany && dataCompany.active"
          [ngModelOptions]="{ standalone: true }"
          name="active"
        >
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button type="button" class="btn btn-secondary">Voltar</button>
    <button type="button" class="btn btn-primary" type="submit">Salvar</button>
  </form>
</div>
